* {
    box-sizing: border-box;
}

nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {
    width: 1900px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.nav-title {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 40px;
}

.game {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.nav-icon {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.follow {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px;
    text-align: center;
}

.nav-container a {
    text-decoration: none;
}

/* nav part end */

/* banner part start */

.banner-container {
    width: 1900px;
    min-height: 130px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

.text-container {
    display: flex;
    gap: 10px;
    margin-left: 320px;
    margin-bottom: 30px;
}

.banner-title h3 {
    font-size: 48px;
    font-family: Work Sans;
    font-weight: 600;
    margin-bottom: 50px;
}

.banner-title h1 {
    font-family: Work Sans;
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.icon {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 25px;
}

.click {
    padding-top: 6px;
}

.fa-user {
    padding-top: 9px;
}

.banner-title {
    width: 50%;
    margin-right: 10px;
}

.banner-img {
    width: 50%;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign {
    border-radius: 48px;
    background-color: #FF42A5;
    padding: 20px;
    color: white;
    font-size: 20px;
    border: none;
}

.btn {
    border-radius: 48px;
    background-color: #4EC5F7;
    ;
    padding: 20px;
    color: white;
    font-size: 20px;
    border: none;
}

/* banner part end */


/* bonus part start */

.bonous {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.gamer-container {
    max-width: 1900px;
    display: flex;
    text-align: right;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin: 0 auto;
}

.gamer-text-container {
    width: 50%;
    text-align: right;
}

.gamer-text {
    text-align: right;
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;

}

.para {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
}

.unleash {
    text-align: right;
    color: #534C64;
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 700;
}

.gamer-text-container h3 {
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.know {
    text-align: center;
    border-radius: 48px;
    background-color: #FF42A5;
    padding: 20px;
    color: white;
    font-size: 20px;
    border: none;

}

/* bonous part end */

/* funny videos */

.funny-videos {
    background-color: #FFF;

}

.funny-video-container {
    width: 1900px;
    text-align: center;
    margin: 20px auto;

}

.online-games {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}

.funny {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 48px;
    font-weight: 700;
}

.funny-video-container p .play-text-conainer p {
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.funny-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.breaking-game {
    position: relative;
}

.black {
    position: absolute;
    top: calc(100%/2);
    left: calc(100%/2);
    font-size: 20px;
    font-weight: 500;
    text-align: center;

}

/* funny part ends */

/* play instant starts */

.play-text {

    width: 1900px;
    height: 900px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 190px;
    margin: 0 auto;
}

.play-text-conainer {
    width: 900px;
}

.play-instantly {
    color: #F948B2;
    font-size: 48px;
    font-weight: 700;
}

.parent {
    width: 900px;
    position: relative;
}

.play-img {
    width: 60%;
    width: 634.833px;
    height: 650px;

}

.Rectangle {
    position: absolute;
    border-radius: 8px;
    border: 10px solid #FFF;
    width: 318px;
    height: 365px;
    left: -10px;
    top: 350px;
}

/* play instantly ends */


/* icons section start */
.icons {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    justify-content: center;
    align-content: center;

}

.icons-container a {
    width: 1950px;
    height: 430px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;

}

.image-container {
    width: 243px;
    height: 80px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
}

.image-container img {
    width: 60px;
    height: 60px;
}

.icons-container a {
    text-decoration: none;
}

.icons-container a:hover{
    color: #F948B2;
  
}

/* icons part ends */


/* footer section starts */

footer {
    background-color: #0B0223;
}

.footer-container {
    width: 1900px;
    height: 636px;
    color: #FFF;
    align-content: center;
    padding-top: 120px;

}

.footer-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.footer-img {
    width: 86.041px;
    height: 40px;
}

.our-story {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 10px;

}

.fa-brands {
    height: 50px;
    width: 50px;
}

.footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;

}

.terms {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    color: rgba(255, 255, 255, 0.60);
}

icons-container:hover {
    background-color: #F948B2;
}



@media screen and (max-width:480px){
.nav-container{
    flex-direction: column;
}
.nav-icon{
    flex-direction: column;
    gap: 20px;
}
.banner-container{
    flex-direction: column;
    
}
.banner-img{
    flex-direction: column;
 width:400px;
}
.gamer-container{
    flex-direction: column;
}

.online-games {
    font-size: 30px;
    font-weight: 700;
}
.funny-img-container{
    display: grid;
    grid-template-columns: repeat(1,fr);
}
.funny{
    font-size: 30px;
    font-weight: 700;
}
.play-text{
    flex-direction: column;
    gap: 30px;
}
.parent{
      width: 70px;
}
.icons-container{
    display: grid;
    grid-template-columns: repeat(3,3fr);
}
}